@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* light */
  --color-b: #888D8A;
  --color-bg: #282828;
  /* dark */
  --color-bg-2: #2f2f2f;
  --color-text: #f5f5f5;

  /* utils */
  --shadow-poke: 0 1px 3px 1px rgba(0,0,0,0.25);
  --shadow-poke-v2: 0 2px 3px rgba(222,222,222,0.20);

  --text-md: 20px;
}

body {
  @apply bg-white dark:bg-bg-2;
}

#app {
  @apply container m-auto font-poppins font-normal p-2 pt-5 xl:pt-10 xl:px-20;
}

